<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Сайт твой
        {% endblock %}
    </title>
    <link rel="stylesheet" href=".. ./assets/style/style.css">
</head>
<body>
    <header class="header">
        <h1>Shop</h1>
        <div class="menu">
            <a href="/clothes/" class="menu-item">Одежда</a>
            <a href="/shoes/" class="menu-item">Обувь</a>
            <a href="/jackets/" class="menu-item">Куртки</a>
        </div>
    </header>

    {% block content %}
        Заполнить надо тебе строки эти
    {% endblock %}
        
    <footer class="footer">
        <hr>
        <p>All rights reserved ©</p>
    </footer>
</body>
</html>